/* Everything here will overwrite the higher level CSS files 
* just have to remember to import this into BootCard.tsx to make it work
*/
.card div {
    width: 20rem;
    place-items: center;
}

.btn {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    place-items: center;
}

button {
    place-items: center;
}

.card-body p {
    display: flex;
    flex-direction: column;
    place-items: center;
}
