/* hover color: take each number in the rgb and multiply by 0.85 */
.btn-1 {
    background-color: rgba(74, 105, 189, 1);
    transition: background-color 0.15s;
}

.btn-1:hover {
    background-color: rgb(63, 89, 161);
}

.btn-2 {
    background-color: rgba(60, 99, 130, 1);
    transition: background-color 0.15s;
}

.btn-2:hover {
    background-color: rgb(51, 84, 111);
}

.btn-3 {
    background-color: rgba(30, 55, 153, 1);
    transition: background-color 0.15s;
}

.btn-3:hover {
    background-color: rgb(26, 47, 130);
}

.btn-4 {
    background-color: rgba(10, 61, 98, 1);
    transition: background-color 0.15s;
}

.btn-4:hover {
    background-color: rgb(9, 52, 83);
}

.btn-5 {
    background-color: rgba(12, 36, 97, 1);
    transition: background-color 0.15s;
}

.btn-5:hover {
    background-color: rgb(10, 31, 82);
}

div.card.menu-card {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
}

.card div {
    width: 24rem;
    place-items: center;
}

.btn {
    margin: 0.5rem;
    place-items: center;
}

.label-span {
    margin-top: auto;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}

button {
    place-items: center;
}

.card-body p.card-text.menu-buttons {
    display: grid;
    grid-template-columns: 4fr 18fr 9fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.high-score-txt {
    font-size: 0.9rem;
}

/*
.quiz-name {
}
*/

.high-score {
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

.difficulty {
    background-color: azure;
    border-radius: 0.2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-self: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* border: 0.25rem solid black;
*/
